<div class="row">
  <div class="col">
    <div class="alert alert-warning">
      {{ date | date : "full" | uppercase }}
    </div>
    
    <button (click)="showJunior()" > Juniors</button>
    <button (click)="showSenior()" > Seniors</button>
    @if (
      show
    ) {
      <app-list [cvs]="juniorCvs$ | async"></app-list>
    }@else {
      <app-list [cvs]="seniorCvs$ | async"></app-list>
    }
    
    
  </div>
  <div class="col">
    <app-cv-card [cv]="selectedCv$ | async"></app-cv-card>
  </div>
</div>
<app-embauche></app-embauche>
